  <div class="error-container">
    <h1>Oops! Something Went Wrong</h1>
    <p>It looks you are not supposed to be here. Don't worry, our best <s>mechanic </s>engineers are on it!</p>
    <p>In the meantime, here's a picture of a cat to cheer you up:</p>
    <img src="https://cataas.com/cat" alt="Cute kitten">
    <p><a href="/">Go back to the homepage</a></p>
  </div>