<% if (notice) { %>
  <p class="flash-message"><%= notice %></p>
<% } %>

<!-- Management Grid -->
<%- grid %> 

<h2>Manage Inventory</h2>
<p>Choose a classification to see those Inventory items.</p>
<%- classificationSelect %> 

<table id="inventoryDisplay"></table>
<noscript>JavaScript is required to display the inventory.</noscript>
<script src="../../js/inventory.js"></script>